	<%= error_messages_for(@subject)%>
	<table summary="Subject form fields">
      <tr>
        <th><%=f.label(:name)%></th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%=f.label(:position)%></th>
        <td><%= f.select(:position, 1..@subject_count ) %></td>
      </tr>
      <tr>
        <th><%=f.label(:is_visible, "Visible")%></th>
        <td><%= f.check_box(:is_visible) %></td>
      </tr>
      <!--<tr>
        <th>Created At</th>
        <td><%f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
      </tr>-->
    </table>